fail_fast: true
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check
        entry: poetry run ruff check
        args: [--fix]
        language: system
        types: [file, python]
      - id: ruff-format
        name: Ruff format
        entry: poetry run ruff format
        language: system
        types: [file, python]
      - id: typechecker
        name: typechecker
        entry: poetry run basedpyright
        language: system
        types: [file, python]
