name: "PullRequest-Push"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"
    paths-ignore:
      - 'README.md'
      - 'catalog-info.yaml'


permissions:
  actions: read
  checks: write
  contents: read
  id-token: write
  packages: write
  pull-requests: write
  security-events: write


jobs:
  static-analysis-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          install: true
          install_args: python poetry
          cache: true
      - name: Install Python dependencies
        uses: ZeroGachis/.github/.github/actions/poetry-install@v5
        with:
          aws_account_id: ${{ vars.PULL_REQUEST_AWS_ACCOUNT_ID }}
          install_options: --with ci
          depends_on_private_packages: false
      - name: Run Linter
        run: poetry run ruff check --output-format=github
      - name: Run Formatter
        run: poetry run ruff format --check
      - name: Run Typechecker
        run: poetry run basedpyright
      - name: Run unit tests
        run: poetry run pytest -p pytest_github_actions_annotate_failures
